extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/login") log in
  a(href="/signup") sign up
  div#map(style={width:'100%',height:'450px'})
  div#shops
  img(src="//s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/9c9b10dc7226/assets/img/reviewsFromYelpWHT.gif",width="115",height="25")

  script(src="https://maps.googleapis.com/maps/api/js?signed_in=true&key=AIzaSyA5Np_2TNJEvDTWOb4X3fqZYsarsyAKUWI&sensor=true&callback=initMap")
  script(src="/javascripts/index.js")
